{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} d-block">
        {%- for error in errors -%}
            <span class="d-block">
                <span class="form-error-icon badge badge-danger text-uppercase">{{ 'Error'|trans({}, 'validators') }} Test</span> <span class="form-error-message">{{ error.message }}</span>
            </span>
        {%- endfor -%}
    </span>
    {%- endif %}
{%- endblock form_errors %}

{% block body %}
    <h1>Inscription:</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}