{% extends 'base.html.twig' %}


{% block body %}

    <div class="example-wrapper">

        <ul>
                {% for trick in trickList %}
                    <li><strong>Name :</strong>{{ trick.trickName }}</li>
                    <li><strong>Description :</strong></strong>{{ trick.trickDescription }}</li>
                    <li><strong>Creation :</strong>{{ trick.trickCreation|date('d-m-Y') }}</li>
                    <!--li><strong>Author :</strong> trick.user </li>
                    <li><strong>Category :</strong> trick.category </li>
                    <li><strong>Comment :</strong> trick.comments </li!-->
                    <br/>
                {% endfor %}
        </ul>
    </div>
{% endblock %}
