{% extends 'base.html.twig' %}


{% block body %}

    <div class="example-wrapper">

        <ul>
                <li>{{ trickList.title }}</li>
                <li>{{ trickList.resume }}</li>
        </ul>
    </div>
{% endblock %}
