<body>
<h2 style="padding: 10px"><strong>Mot de passe oublié</strong></h2>
<div>
    <p>Bonjour {{ userName }}.</p>
    <p>Pour obtenir un nouveau mot de passe, cliquez sur le lien suivant : <a href="{{ url('resetPassword', {'token': token}) }}">Réinitialisation du mot de passe</a>.</p>
    <p><strong>L'équipe SnowTricks</strong></p>
</div>
</body>