<h2 style="padding: 10px"><strong>Confirmation changement email</strong></h2>
<div>
    <p>Vous venez de changer d'adresse e-mail.</p>
    <p>Merci de confirmer votre nouvel adresse en <a href="{{ url('MailUpdate', {'token': token}) }}">cliquant ici.</a></p>
    <p><strong>L'équipe SnowTricks</strong></p>

</div>